@font-face {
    font-family: Garet;
    src: url(../font/ofont.ru_Garet.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Garet;
}

html,
body {
    width: 100%;
    height: 100%;

    background-color: var(--light-gray);
}

html{font-size: 16px;}

h1 {font-size: 2rem;}

p {font-size: 1rem;}

a {
    color: var(--black);
    text-decoration: none;
    font-size: 1rem;
}

:root {
    --black: rgb(22, 22, 22);
    --blue: rgb(0, 115, 255);
    --light-gray: rgb(234, 234, 234);
    --white: rgb(244, 244, 244);
    --side-padding: 8%;
}

button {
    color: var(--white);
    background-color: var(--blue);

    font-size: 17px;
    padding: 12px;
    border-radius: 50px;
    
    border: none;
    user-select: none;

    transition-duration: 0.5s;
}

button:hover {
    transform: scale(0.9);
}