* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

:root{}

button {
    color: white;
    background-color: blue;
    border-radius: 30%;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}