@media (max-width: 400px) {
    html {
        font-size: 14px;
    }

    :root {
        --side-padding: 5%;
    }

    .info_body {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 20px;
    }

    .ibig {
        grid-column-start: span 1;
    }
}
@media (min-width: 800px) {
    #menuOpen {
        display: none;
    }
}
@media (max-width: 800px) {
    #menuOpen {
        display: block;
    }
    header nav {
        display: none;
    }
}
@media (max-width: 1350px) {
    .welcome {
        margin-top: 20px;
    }
}
@media (max-width: 900px) {
    .welcome {
        margin-top: 40px;
    }
}